.head1{
    background-color: cornflowerblue;
    color: white;
    margin-top: 0px;
    font-size: x-large;
    font-family: Courier;
    border: 5px lightblue solid;
}
.list1{margin-left: -40px; margin-top: -5px;}
.links{list-style: none; display: inline; padding: 5px;}
.links a{text-decoration: none; color: blue;}
body{background-color: lavender;}
.table2{font-size: 30px; margin-top: 50px;}
input[type="submit"], input[type="reset"]{
    text-decoration: none;
    font-size: 25px;
    border: 2px lightblue solid;
    padding: 5px;
    color: white;
    background-color: cornflowerblue;
    cursor: default;
}
input[type="submit"]:hover{color: blue; background-color: lightblue; border: 1px blue solid; transition: all 2s ease;}
input[type="reset"]:hover{color: blue; background-color: lightblue; border: 1px blue solid; transition: all 2s ease;}


